body {
  background-image: url(./Images/SkyImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#subHeader {
color: black;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-weight: normal;
width: 60%;
text-align: center;
margin: 25px auto auto auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}